.places__paragraph {
  font-style: normal;
  font-weight: normal;
  color: #fff;
  font-size: 18px;
  line-height: 163%;
  padding-bottom: 26px;
  margin: auto;
  width: 100%;
}

.places__paragraph:last-child {
  padding-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    padding-bottom: 25px;
  }
}