.footer__menu-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  transition: 0.4s ease-in-out;
}

.footer__menu-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__menu-link {
    font-size: calc(24px - (8 + 8 * 0.7) * ((100vw - 320px) / 768));
    line-height: calc(24px - (6 + 6 * 0.7) * ((100vw - 320px) / 768));
  }
}