.header__lang-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
  }

  .header__lang-link:hover {
    opacity: 0.7;
  }
  
  
  
  @media screen and (max-width: 424px) {
    .header__lang-link {
      font-size: 18px;
      line-height: 20px;
    }
  }