.photo-grid {
  display: grid;
  justify-content: center;
  text-align: center;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  padding: 92px 48px;
  grid-gap: 16px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photo-grid {
    grid-gap: 14px;
  }
}

@media screen and (min-width: 730px) and (max-width: 768px) {
  .photo-grid {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 75px 20px;
  }
}

@media screen and (max-width: 424px) {
  .photo-grid {
    padding: 64px 16px;
    grid-gap: 12px;
  }
}