.intro__list {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  white-space: pre-line;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 424px) {
  .intro__list {
    width: 90%;
  }
}