.lead__map-caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 92px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__map-caption {
    padding-left: 24px;
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .lead {
    padding-left: 20px;
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 424px) {
  .lead__map-caption {
    padding-left: 16px;
    padding-bottom: 64px;
  }
}
