.root__content {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .root__content {
    width: 91.5%;
  }
}

@media screen and (max-width: 424px) {
  .root__content {
    width: 90%;
    padding-left: 16px;
  }
}