.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0;
  color: #fff;
  position: relative;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: calc(32px + (40 + 40 * 0.7) * ((100vw - 320px) / 768));
    line-height: calc(35px + (41 + 41 * 0.7) * ((100vw - 320px) / 768));
  }
}